In [2]:
import pandas as pd
%matplotlib inline

In [5]:
! ls -lh ../data

total 9696
-rw-r--r--@ 1 kostia  staff   2.8M May  9 05:58 sample_submission_v2.csv
-rw-r-----@ 1 kostia  staff   600K Jun  5 15:30 test_v2_file_mapping.csv
-rw-r--r--@ 1 kostia  staff   1.4M May  9 05:52 train_v2.csv

In [3]:
train = pd.read_csv('../data/train_v2.csv', index_col=0)
train[:10]

                                                   tags
image_name
train_0                                    haze primary
train_1                 agriculture clear primary water
train_2                                   clear primary
train_3                                   clear primary
train_4       agriculture clear habitation primary road
train_5                              haze primary water
train_6     agriculture clear cultivation primary water
train_7                                    haze primary
train_8           agriculture clear cultivation primary
train_9      agriculture clear cultivation primary road

In [7]:
all_tags = {tag for tags in train['tags'] for tag in tags.split()}
all_tags

{'agriculture',
 'artisinal_mine',
 'bare_ground',
 'blooming',
 'blow_down',
 'clear',
 'cloudy',
 'conventional_mine',
 'cultivation',
 'habitation',
 'haze',
 'partly_cloudy',
 'primary',
 'road',
 'selective_logging',
 'slash_burn',
 'water'}

In [4]:
sample_submission = pd.read_csv('../data/sample_submission_v2.csv', index_col=0)
sample_submission[:10]

                                            tags
image_name
test_0      primary clear agriculture road water
test_1      primary clear agriculture road water
test_2      primary clear agriculture road water
test_3      primary clear agriculture road water
test_4      primary clear agriculture road water
test_5      primary clear agriculture road water
test_6      primary clear agriculture road water
test_7      primary clear agriculture road water
test_8      primary clear agriculture road water
test_9      primary clear agriculture road water